.port {
    background-color: red;
}

.mat {
    background-color: yellow;
}

.qui {
    background-color: rgb(255, 0, 221);
}

.bio {
    background-color: green;
}

.redes {
    background-color: rgb(0, 238, 255);
}

.manut {
    background-color: gray;
}